/* regole generali */
*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   color: white;
   font-family: fantasy;
   cursor: crosshair;
}

body{
   background-color: black;
}

/* title 1*/
#cont-titleMode{
   padding: 20px;
   border-radius: 10px;
   text-align: center;
   position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -webkit-box-shadow: 9px 13px 77px 48px rgba(255,255,255,1);
   -moz-box-shadow: 9px 13px 77px 48px rgba(255,255,255,1);
   box-shadow: 9px 13px 77px 48px rgba(255,255,255,1);
}
#cont-titleMode > h1{
   font-size: 50px;
   padding-bottom: 35px;
}
/* title 1 */

/* mode 2*/
#mode{
   border: 20px double white;
   padding: 10px;
}
.styleMode{
   padding: 5px 0;
   border: 1px solid gray;
   transition: all 0.3s ease;
}

.styleMode:hover{
   transform: scale(0.9);
   border: 5px solid #fff;
   opacity: 0.7;
}
#mode > div{
   font-size: 25px;
   margin: 15px 0;
}
#mode > h2{
   font-size: 35px;
   border-bottom: 2px dashed white;
   margin-bottom: 25px;
}
/* mode 2*/



/* play 3*/
#containerPlay{
   position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 10px;
}

#play{
   background-color: black;
   color: white;
   margin-bottom: 20px;
   padding: 20px 40px;
   font-size: 50px;
   margin-top: 20px;
   position: relative;
   transition: all 0.5s;
   cursor: pointer;
}

#play:hover{
   border: 20px double white;
   transform: scale(1.2);
   -webkit-box-shadow: 10px 0px 80px -8px rgba(255,255,255,0.5);
   -moz-box-shadow: 10px 0px 80px -8px rgba(255,255,255,0.5);
   box-shadow: 10px 0px 80px -8px rgba(255,255,255,0.5);
}




/* play 3*/

/* back */
#back{
   font-size: 20px;
   /* position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, 150%); */
   transition: all 0.5s ease;
   color: black;
   padding-left: 15px;
}
#back:hover{
   color: white;
}
#back span{
   color: white;
   font-size: 50px;
   cursor: pointer;
}
/* back */



/* boxes 4*/
.gardenStyle{
   background-color: lightblue;
   width: 500px;
   position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   list-style-type: none;
   display: flex;
   flex-flow: row wrap;
}

li{
   width: 50px;
   height: 50px;
   background-color: green;
   border: 1px solid black;
   padding: 10px;
}
/* boxes 4*/





/* js */
.dNone{
   display: none;
}
.dBlock{
   display: block;
}
